<!--<h2>Products</h2>-->

<div *ngFor="let product of products">
  <div *ngIf="category && category.name == product.category" class="product-main">
    <div class="product-image">
      <img [src]="product.image" [alt]="product.name">
    </div>
      <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <div class='like'>
      <button class='like-toggle basic' (click)="likes({product : product})">♥</button>
      <span>{{product.like.count + 1}} Like</span>
    </div>
    <h3>Rating: {{product.rating}}</h3>
    <h3>Price: <strong>{{product.price | currency:'₸'}}</strong></h3>
    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <button type="button" (click)="share(product.url)">Share</button>
    <app-product-alerts [product]="product"> </app-product-alerts>
    <button type="button" (click)="remove({product : product})">Remove</button>
  </div>
</div>

